$logo-font: "futura-pt-1","futura-pt-2", Helvetica, sans-serif;
$title-font: "lemonde-sans-1","lemonde-sans-2", "Le Monde Sans Std", Helvetica, sans-serif;
$body-font: "myriad-pro-1","myriad-pro-2", "Myriad Pro", Helvetica, sans-serif; 
$annotation-font: "pollen-web-1","pollen-web-2", Pollen, Helvetica, sans-serif;

$spot-color: #AD0932;

$spacing: 8px;
$spacing-big: 15px;
$spacing-small: 5px;
$spacing-tiny: 2px;

//browsers want to render our custom tags even if they're in the header (the downside of not using script)
//so ask them nicely not to do that.
resume-content, resume-annotation {
	display: none;
}

#print-email {
	display: none; //the @media print section will turn this back on

	font-family: $body-font;
	font-size: 75%;
	text-align: right;
}

#annotations-toggle {
	text-align: right;

	a {
		font-family: $annotation-font;
		font-size: 75%;
		color: $spot-color;
		text-decoration: underline;
	}
}

body {
	font-size: 13pt;
	font-family: $body-font;

	padding-bottom: 5em;

	//Give all unordered lists a more interesting bullet
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding-left: 2em;
		text-indent: -.7em;
	}

	li:before {
		content: "‣ ";
		// content: "◦ ";
		// content: "• ";
		color: $spot-color;
	}

	#container {
		> header.page-title {
			.logo {
				font-family: $logo-font;
				font-size: 200%;	
				font-weight: 500;
			}
			
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #333;

			margin-bottom: $spacing;
		}

		//each .content-section represents a resume-content and resume-annotation pair
		section.content-section {
			margin-top: $spacing;

			//a .content block hosts the title and content for a resume-content
			.content {
				> header.content-title {
					font-weight: bold;
					font-family: $title-font;
					color: $spot-color;
					font-size: 125%;
				}

				//a .resume-content hosts the actual HTML from a resume-content
				.resume-content {
					padding-left: $spacing-big;
					padding-right: $spacing-big;
					margin-top: $spacing;

					//Represents top-level headers like "Blackbaud" in "Work History"
					> header.content-header {
						margin-bottom: $spacing-big;

						.section-title {
							font-weight: bold;
							font-family: $title-font;
							font-size: 120%;

							padding-bottom: $spacing-tiny;
						}
						.section-subtitle {
							font-style: italic;
							font-size: 75%;
							padding-left: $spacing-small;

							margin-left: $spacing-small;
						}
					}

					//Represents sub-headers under the top-level header, like "Notable projects" under "Blackbaud"
					header.content-detail-header {
						font-family: $title-font;
						font-weight: bold;
						// font-style: italic;
						font-variant: small-caps;
						margin-top: $spacing;
						text-transform: lowercase;
					}

					header.content-detail-header:before {
						// content: "—";
					}

					.highlight {
						color: $spot-color;
						font-weight: bold;
					}
				}
			}

			//a .annotation block hosts the (empty) title and content for a resume-annotation
			.annotation {
				margin-top: $spacing;

				> header {
					font-weight: bold;
					font-family: $title-font;
					color: $spot-color;

					font-size: 110%;
					margin-bottom: $spacing;
				}

				//a .resume-annotation hosts the actual HTML from a resume-annotation
				.resume-annotation {
					font-family: $annotation-font;
					font-style: italic;
					height: 100%;
					font-size: 90%;

					p:not(:first-child) {
						margin-top: $spacing-small;
					}
				}
			}
		}
	}
}

@media print {
	#print-email {
		display: block;
	}

	//bootstrap comes with a print CSS that turns off all colors with !important
	//so we have to overcome this braindead idea by explicitly turning it back on 
	//for any colorized components which are not hidden when printing
	li:before, .content > header.content-title, .highlight {
		color: $spot-color !important;
	}

	//bootstrap helpfully prints link URLs after a link. Since my link text *is* a URL, this is dumb. 
	a[href]:after {
		content: "";
	}

	//When printing, hide anything that would be hidden on mobile. This makes Firefox print like Chrome (Chrome prints like it's 
	//a phone whereas Firefox prints like it's a tablet)
	.hidden-xs {
		display: none !important;
	}

	//When printing, stretch the visible content out to fill the grid. This is what happens on mobile and makes Firefox print like Chrome
	.content {
		width: 100% !important;
	}

	//Added padding for the body on the screen; but don't mess with the margins when printing:
	body {
		padding-bottom: 0;
	}

	@page {
		margin-left: 1in;
		margin-right: 1in;

		height: 11in;
	}

	//TODO
	// footer.printer-footer {
	// 	display: block;
	// 	position: relative;
	// 	bottom: 0;
	// }
}