@charset "UTF-8";
resume-content, resume-annotation {
  display: none; }

#print-email {
  display: none;
  font-family: "myriad-pro-1", "myriad-pro-2", "Myriad Pro", Helvetica, sans-serif;
  font-size: 75%;
  text-align: right; }

#annotations-toggle {
  text-align: right; }
  #annotations-toggle a {
    font-family: "pollen-web-1", "pollen-web-2", Pollen, Helvetica, sans-serif;
    font-size: 75%;
    color: #AD0932;
    text-decoration: underline; }

body {
  font-size: 13pt;
  font-family: "myriad-pro-1", "myriad-pro-2", "Myriad Pro", Helvetica, sans-serif;
  padding-bottom: 5em;
  background-color: #fcfcfc; }
  body ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  body li {
    padding-left: 2em;
    text-indent: -.7em; }
  body li:before {
    content: "‣ ";
    color: #AD0932; }
  body #container > header.page-title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #333;
    margin-bottom: 8px; }
    body #container > header.page-title .logo {
      font-family: "futura-pt-1", "futura-pt-2", Helvetica, sans-serif;
      font-size: 200%;
      font-weight: 500; }
  body #container section.content-section {
    margin-top: 8px; }
    body #container section.content-section .content > header.content-title {
      font-weight: bold;
      font-family: "lemonde-sans-1", "lemonde-sans-2", "Le Monde Sans Std", Helvetica, sans-serif;
      color: #AD0932;
      font-size: 125%; }
    body #container section.content-section .content .resume-content {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 8px; }
      body #container section.content-section .content .resume-content > header.content-header {
        margin-bottom: 15px; }
        body #container section.content-section .content .resume-content > header.content-header .section-title {
          font-weight: bold;
          font-family: "lemonde-sans-1", "lemonde-sans-2", "Le Monde Sans Std", Helvetica, sans-serif;
          font-size: 120%;
          padding-bottom: 2px; }
        body #container section.content-section .content .resume-content > header.content-header .section-subtitle {
          font-style: italic;
          font-size: 75%;
          padding-left: 5px;
          margin-left: 5px; }
      body #container section.content-section .content .resume-content header.content-detail-header {
        font-family: "lemonde-sans-1", "lemonde-sans-2", "Le Monde Sans Std", Helvetica, sans-serif;
        font-weight: bold;
        font-variant: small-caps;
        margin-top: 8px;
        text-transform: lowercase; }
      body #container section.content-section .content .resume-content .highlight {
        color: #AD0932;
        font-weight: bold; }
    body #container section.content-section .annotation {
      margin-top: 8px; }
      body #container section.content-section .annotation .resume-annotation {
        font-family: "pollen-web-1", "pollen-web-2", Pollen, Helvetica, sans-serif;
        font-style: italic;
        height: 100%;
        font-size: 90%;
        display: none; }
        body #container section.content-section .annotation .resume-annotation p:first-child {
          padding-top: 1.9em; }
        body #container section.content-section .annotation .resume-annotation p:not(:first-child) {
          margin-top: 5px; }
  body #downloads {
    border-top-style: solid;
    border-top-color: #858585;
    border-top-width: 1px;
    margin-top: 45px;
    padding-top: 15px;
    color: #858585 !important; }
    body #downloads header {
      color: #858585 !important; }
    body #downloads ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    body #downloads li {
      padding-left: 2em;
      text-indent: -.7em; }
    body #downloads li:before {
      content: "‣ ";
      color: #858585; }
    body #downloads a {
      color: #858585;
      text-decoration: underline; }

@media print {
  #print-email {
    display: block; }

  #downloads {
    display: none; }

  li:before, .content > header.content-title, .highlight {
    color: #AD0932 !important; }

  a[href]:after {
    content: ""; }

  .hidden-xs {
    display: none !important; }

  .content {
    width: 100% !important; }

  body {
    padding-bottom: 0;
    background-color: #ffffff; }

  @page {
    margin-left: 1in;
    margin-right: 1in;
    height: 11in; } }

/*# sourceMappingURL=index.css.map */
