$logo-font: "futura-pt-1","futura-pt-2", Helvetica, sans-serif;
$title-font: "lemonde-sans-1","lemonde-sans-2", "Le Monde Sans Std", Helvetica, sans-serif;
$body-font: "myriad-pro-1","myriad-pro-2", "Myriad Pro", Helvetica, sans-serif; 
$annotation-font: "pollen-web-1","pollen-web-2", Pollen, Helvetica, sans-serif;

$spot-color: #AD0932;
$gray-color: #858585;

$spacing: 12px;
$spacing-big: 15px;
$spacing-small: 5px;
$spacing-tiny: 2px;

@mixin custom-bullets($color) {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding-left: 2em;
		text-indent: -.7em;
	}

	li:before {
		content: "‣ ";
		// content: "◦ ";
		// content: "• ";
		color: $color;
	}
}

//browsers want to render our custom tags even if they're in the header (the downside of not using script)
//so ask them nicely not to do that.
resume-content, resume-annotation {
	display: none;
}

#print-email {
	display: none; //the @media print section will turn this back on

	font-family: $body-font;
	font-size: 75%;
	text-align: right;
}

#annotations-toggle {
	text-align: right;

	a {
		font-family: $annotation-font;
		font-size: 75%;
		color: $spot-color;
		text-decoration: underline;
	}
}

.skill-category {
	font-weight: bolder;
	font-style: italic;
	font-variant: small-caps;
}

body {
	font-size: 13pt;
	font-family: $body-font;

	padding-bottom: 5em;

	background-color: #fcfcfc;

	//Give all unordered lists a more interesting bullet
	@include custom-bullets($spot-color);


	#container {
		// the main container is a 3 column grid on large screens; there are media queries below to adjust it 
		// the left and right columns are empty though, so we can just make them 0 px on small screens using 
		// grid auto sizing 

		// normal screens: 3 column grid with ample spacing around the center column
		@media screen and (min-width: 1801px) {
			display: grid;
			grid-template-columns:25% auto 25%;
		}		
		
		// cramped screens somewhat bigger than standard iPads: 3 column grid with less spacing
		@media screen and (min-width: 1051px) and (max-width: 1800px) {
			display: grid;
			grid-template-columns: 15% auto 15%;
		}

		// iPad-sized screens and small: no grid, just the content. Some 15px margins for breathing room
		// for phone screens, we'll also turn off annotations below
		@media (max-width: 1050px) {
			display: block !important;
			margin: 15px 15px 15px 15px;
		}

		#child-content {
			grid-column: 2;

			// most screens have annotations so the content sections should be in a 2-column grid
			// main content in the bigger left column and annotations in the smaller right
			@media (min-width: 741px) {
				display: grid;
				grid-template-columns: 1fr 0.5fr;
			}

			// phones have no space for annotations so don't show this as a grid
			@media (max-width: 740px) {
				display: block;
			}
			
		

		> header.page-title {
			grid-column: 1 / 3;			

			.logo {
				font-family: $logo-font;
				font-size: 200%;	
				font-weight: 500;
			}
			
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #333;

			margin-bottom: $spacing;
		}

		#hide-annotations {
			// take up the entire row in #content
			grid-column: 1 / 3;

			// no annotation buttons on phones
			@media (max-width: 740px) {
				display: none;
			}
		}
		//a .content block hosts the title and content for a resume-content
		section.content {
				grid-column: 1;
				margin-top: $spacing;
				
			//represents the section title, like "Work History"
			> header.content-title {
				font-weight: bold;
				font-family: $title-font;
				color: $spot-color;
				font-size: 125%;
			}

			//a .resume-content hosts the actual HTML from a resume-content
			.resume-content {
				padding-left: $spacing-big;
				padding-right: $spacing-big;
				margin-top: $spacing;

				//Represents top-level headers like "Blackbaud" in "Work History"
				> header.content-header {
					margin-bottom: $spacing-big;

					.section-title {
						font-weight: bold;
						font-family: $title-font;
						font-size: 120%;

						padding-bottom: $spacing-tiny;
					}
					.section-subtitle {
						font-style: italic;
						font-size: 75%;
						padding-left: $spacing-small;

						margin-left: $spacing-small;
					}
				}

				//Represents sub-headers under the top-level header, like "Notable projects" under "Blackbaud"
				header.content-detail-header {
					font-family: $title-font;
					font-weight: bold;
					// font-style: italic;
					font-variant: small-caps;
					margin-top: $spacing;
					text-transform: lowercase;
				}

				header.content-detail-header:before {
					// content: "—";
				}

				.highlight {
					color: $spot-color;
					font-weight: bold;
				}
			}
		}

		//a .annotation block hosts the (empty) title and content for a resume-annotation
		.annotation {
			grid-column: 2;
			margin-top: $spacing;

			// no annotations on phones
			@media (max-width: 740px) {
				display: none;
			}

			//a .resume-annotation hosts the actual HTML from a resume-annotation
			.resume-annotation {
				font-family: $annotation-font;
				font-style: italic;
				height: 100%;
				font-size: 90%;

				//Bring the first paragraph of each annotation down a bit to better align with the 
				//start of the section (below that section's header). This isn't perfect but it doesn't 
				//detract from the appearance
				p:first-child {
					padding-top: 1.9em;
				}

				p:not(:first-child) {
					margin-top: $spacing-small;
				}

				//hidden by default
				display: none;
			}
		}
	}
	}

	#downloads { 
		border-top-style: solid;
		border-top-color: $gray-color;
		border-top-width: 1px;

		margin-top: $spacing-big * 3;
		padding-top: $spacing-big;

		color: $gray-color !important;
		header {
			color: $gray-color !important;
		}

		@include custom-bullets($gray-color);

		a {
			color: $gray-color;
			text-decoration: underline;
		}
	}
}



@media print {
	#container {
		display: block !important;
	}

	#print-email {
		display: block;
	}

	#downloads {
		display: none;
	}

	.page-break {
		page-break-after: always;
	}

	//bootstrap comes with a print CSS that turns off all colors with !important
	//so we have to overcome this braindead idea by explicitly turning it back on 
	//for any colorized components which are not hidden when printing
	li:before, .content > header.content-title, .highlight {
		color: $spot-color !important;
	}

	//bootstrap helpfully prints link URLs after a link. Since my link text *is* a URL, this is dumb. 
	a[href]:after {
		content: "";
	}

	//When printing, hide anything that would be hidden on mobile. This makes Firefox print like Chrome (Chrome prints like it's 
	//a phone whereas Firefox prints like it's a tablet)
	.hidden-xs {
		display: none !important;
	}

	//When printing, stretch the visible content out to fill the grid. This is what happens on mobile and makes Firefox print like Chrome
	.content {
		width: 100% !important;
	}

	body {
		font-size: 11pt;
		padding-bottom: 0; //Added padding for the body on the screen; but don't mess with the margins when printing:
		background-color: #ffffff; //don't try to print our mostly-white page color
	}

	@page {
		margin-left: 1in;
		margin-right: 1in;

		height: 11in;
	}

	//TODO
	// footer.printer-footer {
	// 	display: block;
	// 	position: relative;
	// 	bottom: 0;
	// }
}